* {
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

input {
  width: 100%;
  padding: 8px;
  border: 2px solid var(--000000, #000);
  padding: 15px 20px;
}

input::placeholder {
  color: #797A7E;
  font-size: 20px;
  font-weight: 400;
}